@media (prefers-color-scheme: dark) {
  :root,
  ::backdrop {
    color-scheme: dark;
    --bg: #12130f;
    --accent-bg: #212121;
    --text: #f4f2f3;
    --text-light: #ababab;
    --accent: #5b9279;
    --accent-hover: #5dd9c1;
    --code: #a37774;
    --preformatted: #ccc;
    --disabled: #111;
  }
}
